ch1.aux
ch2.aux
ch3.aux
ch4.aux
ch5.aux
abstract.aux
ack.aux
pd-ack.auz
parita-msc.aux
parita-msc.pdf
parita-msc.log
parita-msc.toc
parita-msc.synctex.gz
parita-msc.lot
parita-msc.lof
parita-msc.blg
parita-msc.out
.DS_Store
